@use '../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../index/components/_nav.scss';
@use '../om oss/components/_footer.scss';
@use 'variabler.scss' as v;

.under-uppbyggnad {
    margin: 2rem 0 4rem 0rem;
    display: grid;
    place-content: center;
    place-items: center;
    svg {
        width: 40px;
        height: 40px;
        border: 3px solid v.$yellow-alert;
    }
    svg rect {
        width: 34px;
        height: 34px;
        fill: none;
        stroke-width: 10px;
        stroke: black;
        stroke-dasharray: 100%;
        stroke-dashoffset: 10%;
        animation: load 3s linear alternate infinite;
    }
    @keyframes load {
        to {
            stroke-dashoffset: 250%;
        }
    }
    h1 {
        text-align: center;
        color:black;
        margin-bottom: 15px;
    }
    #under-uppbyggnad-img {
        max-width: 70%;
        margin-bottom: 30px;
        border: 10px solid v.$yellow-alert;
        outline: 5px solid v.$red-alert;
        box-shadow: v.$img2-shadow;
    }
    .accordion-container {
        width: 70%;
        .accordion-button {
            background-color: v.$yellow-alert;
            color: black;
            border: 1px solid v.$red-alert;
            &:focus {
                outline: 2.5px solid v.$red-alert;
            }
        }
        .accordion-body {
            background-color: v.$yellow-light;
            border: 0.5px solid v.$yellow-alert
        }
    }
}

@media (min-width: 992px) {
    #under-uppbyggnad-img {
        width: 700px;
    }
}