@use '../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../index/components/_nav.scss';
@use '../om oss/components/_footer.scss';
@use 'variabler.scss' as v;

.under-uppbyggnad {
    margin: 2rem 0 4rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    svg {
        width: 40px;
        height: 40px;
        border: 3px solid yellow;
    }
    svg rect {
        width: 34px;
        height: 34px;
        fill: none;
        stroke-width: 10px;
        stroke: black;
        stroke-dasharray: 100%;
        stroke-dashoffset: 10%;
        animation: load 3s linear alternate infinite;
    }
    @keyframes load {
        to {
            stroke-dashoffset: 250%;
        }
    }
    h1 {
        text-align: center;
        padding: 10px;
    }
    #under-uppbyggnad {
        max-width: 70%;
        border: 10px solid v.$yellow-alert;
        outline: 5px solid v.$red-alert;
    }
}

.checklist-top {
    margin: 0px 20px 20px 20px;
    padding: 0 20px 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rubrik-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    #alla-produkter {
        margin: 0 1rem 0.25rem 1.5rem;
        font-size: 36px;
        scroll-margin-top: 6.3rem;
    }
    .search-container {
        display: flex row;
        margin-right: 1.5rem;
        .input {
            width: 150px;
            padding: 0.5rem;
         }
        
         ::placeholder {
            border: 2px;
         }
        
        #search {
            background-color: v.$background-gray;
            width: 44px;
            height: 44px;
            padding: 8px;
            &:hover {
                background-color: v.$background-gray-hover;
            }
        }    
    }    
}

#produkt-starttext {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    background-image: url("../../img/produkt/background-nature2.jpg");
    width: 100%;
    height: 60%;
    div {
        padding: 0 1.5rem 0 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        display: flex column;
        justify-content: center;
        align-items: center;
    }
    .fieldset {
        max-width: 30rem;
        padding: 15px;
        background-color: transparent;
        .text-anim {
            padding: 10px 15px 15px 15px;
            font-size: 18px;
            color: red;
            position: relative;
            display: inline;
            animation: move-roll 2s linear alternate infinite;
        }    
        @keyframes move-roll {
            0% {left:-9%; color: v.$red-alert;}
            50% {color: rgb(255, 128, 0);}
            100% {left:9%; color: v.$red-alert}
        }    
        div {
            padding: 15px 10px 10px 10px;
            border-radius: 5px;
            background-color: v.$background-opacity-form;
        }
        h3 {
            padding-top: 10px;
        }
        #p-fyll {
            font-style: italic;
            padding: 5px 10px 0px 10px;
            font-size: 16px;
        }    
        .competition-form {
            padding: 10px 1.5rem 10px 1.5rem;
            font-size: 18px;
            img {
                width: 20rem;
                border: 2px solid;
                border-radius: 5px;
                box-shadow: v.$img-shadow;
            }
            div {
                background-color: transparent;
                padding: 0;
                margin: 0;
            }
            .question {
                font-weight: bold;
                font-size: 18px;
                margin: 25px 0 5px 0;
            }
            ::placeholder {
                padding: 10px;
            }
            #svar-kommentar {
                width: 20rem;
                height: 6rem;
            }
            .teknik {
                margin: 3px;
            }
            .check {
                margin: 5px 3px 8px 5px;
            }
            #email {
                width: 20rem;
                padding: 3px;
            }
            .button-blue {
                margin: 30px 15px 30px 15px;
                background-color: v.$background-submit;
            }
            .do-fill {
                color: v.$red-fill;
            }       
        }    
    }    
}

.buketter {
    background-color: v.$background-gray;
}

#produkter, #buketter, #plants, #event, #begravning {
    padding: 3rem 1.5rem 0rem 1.5rem;
    scroll-margin-top: 6rem;
}

.kort-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;  
    .kort {
        margin: 15px;
        border: 2px solid v.$background-gray-hover;
        max-width: 43%;
        min-height: 400px;
        background-color: white;
        box-shadow: v.$img-shadow;
        .zoom-img {
            overflow: hidden;
            width: 100%;
            img {
                width: 100%;
                border-radius: 5px;
                border: 1px solid black;
                transition: transform 3s ease;  
            }
            :hover {
                -ms-transform: scale(1.7);
                -webkit-transform: scale(1.7);
                transform: scale(1.7); 
            }
        }
        .card-body {
            margin: 15px 15px 20px 15px;
            p.k-text {
                margin-bottom: 50px;
            }
        }    
        .buy-btn {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid black;
            text-decoration: none;
            color: white;
            background-color: rgb(15, 95, 15);
        }
        a:hover {
            background-color: rgb(16, 140, 16);
        }
    }
}

article.plants {
    background-color: white;
}

.event {
    background-color: v.$background-gray;
    div {
        background-image: url("../../img/produkt/form-background.jpg");
        margin: 1rem;
        border: 2px solid black;
    }
}

.wedding {
    margin: 1rem;
    background-color: v.$background-opacity-form;
    p, h4 {
        margin: 1.5rem;
    }
    form {
        padding:0 1.5rem 1.5rem 1.5rem;
        .do-fill {
            color: v.$red-fill;
        }
        .email, #name, #fokus {
            width: 250px;
        }
        #anteckningar {
            width: 250px;
            height: 120px;
        }
        .button-blue {
            margin-left: 1.5rem;
            background-color: v.$background-submit;
        }
    }
    .karusell> {
        margin: 1rem;
        max-width: 700px;
        img {
            border: 1px solid black;
        }
    }
}

div.minibild-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1.5rem;
    border: none;
    background-color: v.$background-opacity-form;
    .minibild {
        border: 1px solid black;
        max-width: 30%;
    }
}
/*
@media (min-width: 670px) {
    .minibild-container .minibild {
        width: 40%;
    }
}
*/
#florist {
    padding: 1.5rem;
    text-align: center;
    background-color: white;
    form {
        display: inline-flex;
        flex-direction: column;
        .button-blue {
            margin-bottom: 20px;
        }
        input {
            margin-bottom: 10px;
        }
        .check {
            width: 25px;
            height: 25px;
            position: relative;
            margin-left: 95px;

        }
    }
}
.link-end {
    font-weight: bold;
    a:link {
        color: rgb(188, 4, 4);
    }
    a:visited {
        color: green;
    }
    a:hover {
        color: hotpink;
    }
    a:active {
        color: blue;
    }
}

@media (min-width: 992px) { 
    .checklist-top {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .input {
        width: 250px;
    }
    #alla-produkter {
        padding-left: 3rem;
    }
    .search-container {
        padding-right: 3rem;
    }
    #produkt-starttext {
        padding: 0 5rem 2rem 5rem;
    }
    #plants, #event, #begravning {
        padding-left: 3rem;
    }
    main {
        background-color: v.$background-gray;
        aside {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            margin-top: 4.5rem;
        }
    }
    .kort-container {
        .kort {
            width: 250px;
        }
    }
    .bukett-lg {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 4.5rem 0 3rem;
    }
    #florist {
        padding: 4rem 7rem 2rem 7rem;
    }
    article.plants {
        padding: 1rem 2rem 3rem 2rem;
    }
}
