$background-gray: #E6E6E6;
$background-gray-hover: #a4a5a7;
$background-gray-border: #a0a0a1;
$background-buy: #6AE89B;
$background-submit: #1D88EA;
$red-fill: rgb(254, 90, 90);
$yellow-alert: rgb(250, 250, 22);