@use "../abstracts/colors" as c;
@use "../abstracts/animations";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin kort($width-s, $width-md, $width-lg) {
  .kort {
    border: 1px solid c.$border-color;
    background-color: white;
    border-radius: 10px;
    width: $width-s;
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.5);
    img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 0.6rem;
    }
    h2,
    h3 {
      font-size: 1.3rem;
    }
    p {
      margin-bottom: 1rem;
    }
    .knapp-wrapper {
      @include flex-center;
    }
    a {
      background-color: c.$blå-knapp;
      color: white;
      text-decoration: none;
      padding: 1rem;
      border-radius: 10px;
      &:hover,
      &:focus {
        background-color: c.$blå-knapp-hover;
      }
      &:focus {
        outline-offset: -0.1rem;
        outline-style: solid;
        outline-width: 2px;
        outline-color: c.$blå-knapp-outline;
      }
    }
    @media (min-width: 670px) {
      width: $width-md;
    }
    @media (min-width: 1300px) {
      width: $width-lg;
    }
  }
}

@mixin intro-titel {
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  @include animations.grow-middle;
  .underrubrik {
    display: block;
    margin-top: 0.5rem;
  }
  @media (min-width: 670px) {
    @include animations.grow-middle-2;
  }
}
