h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.main-underrubrik {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 350;
  color: rgb(84, 84, 84);
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

h3 {
  font-size: 1.7rem;
  font-weight: 350;
}

.underrubrik {
  font-size: 1.2rem;
  font-weight: 350;
  @media (min-width: 670px) {
      font-size: 1.3rem;
  }
}

p {
  font-size: 1rem;
  font-weight: 350;
}

figcaption {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 350;
  @media (min-width: 670px) {
    font-size: 1.3rem;
  }
}