footer {
    background-color: rgb(231, 228, 228);
    color: black;
}

#logo {
    font-size: 60px;
    text-align: center;
    font-family: Qwitcher Grypen;
}

.button {
    position: relative;
    width: 50px;
    top: -14px;
    margin: -30px;
}

.footer-titel {
    font-size: 1.15rem;
    margin: 0 0 1rem 0;
}

.p-footer {
    margin: 2px;
}

.p-footer > a {
    color: #1D88EA;
}

#stockholm {
    margin: 1.5rem 0 0 0;
}

@media (max-width: 700px) {
    .button {
        position: relative;
        width: 2.5rem;
        top: -14px;
        margin: -30px;
    }

    .footer-titel {
        margin: 1rem 0 0.5rem 0;
    }

    .p-footer {
        padding: 0.05rem;
    }

    #stockholm {
        margin: 0.8rem 0 0 0;
    }
}