
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sida {
  display: grid;
  height: 120vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
      "h1 h1 formulär"
      "main main formulär"
      "main main formulär";
  grid-gap: 1.5rem;
  padding: 2rem;
  text-align: center;
}

#h1 {
  display: flex;
  grid-area: h1;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/jobb/jobb4.jpg);
  background-size: cover;
  border: 1px solid grey;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px grey;
}

#h1 > h1 {
  font-size: 2rem;
  }

#formulär {
  grid-area: formulär;
  background-color: #e6e6e6;
  border: 1px solid grey;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px grey;
}

form {
  text-align: left;
  padding: 1rem;
}

form > h2 {
  font-size: 1.2rem;
  padding: 2rem 0;

}

#skicka {
  padding: 0.3rem 1.5rem;
  background-color: #1D88Ea;
  border-radius: 0.3rem;
}

main {
  grid-area: main;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px grey;
}

section > h2 {
  font-size: 1.5rem;
  padding: 2rem;
}

@media (max-width: 1000px) {
.grid-container {
     grid-template-columns: auto auto;
 }

}

@media (max-width: 768px) {
  .sida {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
          "h1"
          "main"
          "formulär"
          }

@media screen and (min-width: 350px) {
  
body {
  background-image: url(../../img/jobb/jobb4.jpg);
  background-size: cover;
}

#h1 {
  background-image: none;
  background-color: #e6e6e6;
}

#h1 > h1 {
  font-size: 1.4rem;
  padding: 0.3rem 0 0 0;
  }


  form > h2 {
  padding: 0;
}
  .formulär {
    display: flex;
    flex-direction: column;
  }
  
  #formulär {
    justify-content: center;
    align-items: center;
    height: 85%;
    padding: 0;
  }
  .kontakt {
    position: relative;
    bottom: 6.5rem;
    left: 12rem;
  }

  .form {
    justify-content: center;
    position: relative;
    bottom: 6.5rem;
  }
}
}