@use "../../node_modules/bootstrap/scss/bootstrap.scss";
@use "../index/base/typography";
@use "../index/components/nav";
@use "../om\ oss/components/footer.scss";
@use "../index/abstracts/colors" as c;
@use "../index/abstracts/mixin";

.sid-intro-flex {
  @include mixin.flex-center;
  flex-wrap: wrap;
  @include mixin.kort(90%, 28%, 30%);
  h1 {
    width: 100%;
  }
  .kort {
    margin: 1rem 1rem;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }
  .underrubrik {
    display: block;
  }
}
//Gör om med grids
.inredning-artikel {
  background-color: c.$dark-page-background;
  padding: 0 1rem;
  .inrednings-flex {
    padding: 3rem 0.5rem;
    @include mixin.flex-center;
    flex-wrap: wrap;
  }
  .sektion-intro-titel {
    @include mixin.intro-titel;
    margin-bottom: 2.5rem;
  }
  img {
    width: 90%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 670px) {
  .sid-intro-flex {
    h1 {
      font-size: 4rem;
    }
    .kort h2 {
      height: 6rem;
    }
  }
  .inredning-artikel {
    text-align: start;
    img {
      height: 13rem;
      width: auto;
      margin-right: 1rem;
      margin-bottom: 0;
    }
    .titel-med-text {
      height: 13rem;
      h3 {
        width: 20rem;
        height: 2rem;
      }
      p {
        width: 20rem;
      }
    }
    .paragraf-2 {
      margin-top: 0.5rem;
      width: 34rem;
    }
  }
}

@media (min-width: 720px) {
  .sid-intro-flex .kort h2 {
    height: 5rem;
  }
}

@media (min-width: 920px) {
  .sid-intro-flex .kort h2 {
    height: 3rem;
  }
}

@media (min-width: 1300px) {
  .sid-intro-flex .kort h2 {
    height: 2.5rem;
  }
}
