@use "../../node_modules/bootstrap/scss/bootstrap.scss";
@use "../index/base/typography";
@use "../index/components/nav";
@use "../om\ oss/components/footer.scss";
@use "../index/abstracts/colors" as c;
@use "../index/abstracts/mixin";

.sid-intro-flex {
  @include mixin.flex-center;
  .underrubrik {
    display: block;
  }
}

@media (min-width: 670px) {
  h1 {
    margin-right: 1vw;
    font-size: 4rem;
  }
}

@media (min-width: 1300px) {
}
