* {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 40px 0 40px 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.bildlänk {
    width:100%;
    max-width: 500px;
    height: auto;
}

.bildlänk:hover {
    box-shadow: 0 0 3px 2px grey;
}

.backgrund {
    background-color: #E6E6E6;
    padding: 5px;
    margin: 10px 0 0 0;
}

.vision {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    margin: 60px;
    padding: 10px;
    box-shadow: 4px 4px 4px lightgrey;

}

h2, h3 {
    text-align: center;
    margin: 20px 0 40px 0;
}

.read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Visa mer';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Visa mindre';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .personal {
    background-color: #E6E6E6;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgrey;
    padding: 30px;
    margin: 30px;

  }
  .grid-container {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto auto;
  }

  .grid-item > img {
    width:50%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
  }
  
  .grid-item {
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px 0 0 0;
    font-size: 30px;
    text-align: center;
  }

.grid-item > p {
    font-size: 20px;
}

footer {
    background-color: rgb(231, 228, 228);
    color: black;
}

#logo {
    font-size: 60px;
    text-align: center;
    font-family: Qwitcher Grypen;
}

.button {
    position: relative;
    width: 50px;
    top: -14px;
    margin: -30px;
}

#p-footer {
    margin: 2px;
}

@media (max-width: 1000px) {
    .grid-container {
         grid-template-columns: auto auto;
     }
 }

@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
        gap: 5px;
        margin: 5px;
    }

    .vision {
        margin: 10px 0 10px 0;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        justify-items: auto;
        padding: 10px 0 10px 20px;
        margin: 0;
    }

    .grid-item > img {
        float: left;
        margin: 0 0 0 5px;
        max-width: 100px;
        padding: 0;
        margin: 0;
    }

    .grid-item > h4, p {
        justify-items: auto;
        padding: 10px 0 0 0;
    }
}

