.logga {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 2.5rem;
  padding: 0.54rem;
}

nav.navbar {
  z-index: 1;
  div.container-xxl {
    padding: 0;
  }
  position: sticky;
  top: 0;
  background-color: #E6E6E6;
  border-bottom: 1px solid #a0a0a1;
  a:not(.navbar-brand, .logga) {
    color: black;
    padding: 0.8rem 0 0.8rem 0;
    font-size: 1.2rem;
    font-weight: 300;
  }
  ul.dropdown-menu {
    padding: 0;
    margin: 0;
    background-color: #c9c9c9;
    border-radius: 0;
    border: none;
    a:focus {
      background-color: #c9c9c9;
    }
    li:first-child {
      border-top: 1px solid #a0a0a1;
      border-bottom: none;
    }
    li:last-child {
      border: none;
    }
  }
  ul.navbar-nav {
    li:nth-child(2) {
      border-top: 1px solid #a0a0a1;
    }
    li:last-child {
      border: none;
    }
  }
  li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #a0a0a1;
  }
  a:hover:not(.navbar-brand) {
    background-color: #a4a5a7;
  }
  .navbar-toggler:hover {
    background-color: #bdbdbd;
  }
}

@media (min-width: 992px) { 
  nav.navbar {
    li {
      border: none;
      min-width: max-content;
    }
    ul.dropdown-menu {
      background-color:  #E6E6E6;
      border-radius: 0 0 10px 10px;
      width: 15rem;
      border: 1px solid #a0a0a1;
      li {
        text-align: start;
      }
      a {
        padding-left: 1rem;
      }
      li:first-child {
        border: none;
      } 
      li:nth-child(2) {
        border: none;
      }
      li:last-child a{
        border-radius:  0 0 5px 5px;
      }
    }
  }
 }

