* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8rem;
    font-weight: normal;
    margin: 3rem 0 3rem 5rem;
}

.Bildspel {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

#carouselExampleIndicators {
    width: 700px;
    box-shadow: 5px 5px 5px grey;
}

main {
    background-color: #e6e6e6;
    padding: 1rem 0 1rem 0;
}

.omHistoria {
    padding: 2rem 5rem 1rem 5rem;
    margin: 0 3rem 0 3rem;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: white;
}

h2 {
    text-align: center;
    font-weight: normal;
    padding: 1rem 0 2.8rem 0;
}

h3 {
    font-weight: normal;
    margin: 1.5rem 0 1.5rem 0;
}

.newsletter {
    text-align: center;
    padding: 2rem 0 0 0;
}

h4 {
    font-size: 1.25rem;
    margin: 0 0 1.2rem 0;
}

#prenumerera {
    padding: 1px 6px;
    background-color: #1D88Ea;
}

footer {
    background-color: rgb(231, 228, 228);
    color: black;
}

#logo {
    font-size: 60px;
    text-align: center;
    font-family: Qwitcher Grypen;
}

.totop {
    position: relative;
    width: 50px;
    top: -14px;
    margin: -30px;
}

.footer-titel {
    font-size: 1.15rem;
    margin: 0 0 1rem 0;
}

.p-footer {
    margin: 0.5rem;
}

.p-footer > a {
    color: #1D88EA;
}

#stockholm {
    margin: 1.5rem 0 0 0;
}

@media (max-width: 700px) {
   
    #carouselExampleIndicators {
        box-shadow: none;
    }

    h2 {
        padding: 0 0 2rem 0;
    }

    h3 {
        text-align: center;
    }
    .omHistoria {
        padding: 1rem;
        margin: 0.2rem;
    }

    fieldset {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input[type="submit" i] {
        margin: 0.6rem;
    }
    
    label {
        margin: 0.6rem;
    }

    .totop {
    position: relative;
    width: 2.5rem;
    top: -14px;
    margin: -30px;
    }
    
    .footer-titel {
        margin: 0.7rem 0 0.3rem 0;
    }
    
    .p-footer {
        padding: 0rem;
        margin: 0.1rem;
    }
    
    #stockholm {
        margin: 0.8rem 0 0 0;
    }
}